@font-face {
  font-family: "Roboto";
  src: url("font/Roboto-Regular.ttf");
}

@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

body {
  margin: 0;
  font-family: "Roboto";
}

#header {
  background-image: url("header.jpg");
  height: 500px;
  background-size: cover;
  color: #fff;
  text-align: center;
}

h1 {
  font-size: 100px;
  padding-top: 112px;
  font-family: 'Fjalla One', sans-serif;
  font-weight: bold;
  font-weight: normal;
}

#navbar {
  padding: 8px;
  list-style-type: none;
  text-align: right;
}

#navbar li {
  font-size: 22px;
  padding: 10px;
  display: inline;
}

#navbar li a {
  color: #fff;
  text-decoration: none;
}
